---
- name: Create monitoring directories
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /opt/monitoring
    - /opt/monitoring/prometheus

- name: Configure Prometheus
  template:
    src: prometheus.yml.j2
    dest: /opt/monitoring/prometheus/prometheus.yml

- name: Run Prometheus container
  docker_container:
    name: prometheus
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - /opt/monitoring/prometheus:/etc/prometheus
    restart_policy: always
    state: started

- name: Run Node Exporter container
  docker_container:
    name: node-exporter
    image: prom/node-exporter:latest
    ports:
      - "9100:9100"
    restart_policy: always
    state: started
