---
- name: Install essential packages
  package:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
    state: present

- name: Set timezone to Omsk
  timezone:
    name: "{{ timezone }}"

- name: Update system (Debian)
  apt:
    upgrade: dist
    update_cache: yes
  when: ansible_distribution == 'Debian'


- name: Configure SSH security
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"
